.container1{
    /* background-color: brown; */
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to right, red,green,blue);
}

.container2{
    height: 300px;
    width: 300px;
    background-image: radial-gradient(red ,green, pink,yellow,orange);
}

.container3{
    height: 300px;
    width: 300px;
    background-image: conic-gradient(red,green,blue);
}