h1{ 
   text-align: center;
   background-color: aqua;
}

h2{
    text-align: center;
    background-color: aquamarine;
}

sidebar{
    height: 545px;
    width: 250px;
    padding: 20px;
    float: left;
    background-color: darksalmon;
}

main img {
        display: block;
        width: 78.5vw;
        height: 80vh;
        border: 2px solid #ddd;
        border-radius: 1px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-size: cover;
    }

h4{
    text-align: center;
    background-color: blanchedalmond;
}   

footer{
    font-size: 25px;
}